.div{
    padding-top: 30px;

    background-image: url("http://adwallpapers.xyz/uploads/posts/72281-hotel-and-ocean-4k-ultra-hd-wallpaper__other.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.h1{
    margin-top: 138px;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}
.mouse{
    text-align: center;
    margin-top: 70px
}
.contacts{
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin: 0 auto;
}
.str{
    display: flex;
    align-items: center;
    grid-gap: 15px;
    cursor: pointer;
}
.phone{
    font-size: 26px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
}